version: "3.8"

services:
  mariadb:
    image: mariadb:10.8
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --skip-innodb-read-only-compressed # Temporary fix for MariaDB 10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mariadb-d:/var/lib/mysql

  redis:
    image: redis:alpine

  frappe:
    image: frappe/bench:latest
    command: bash /workspace/init.sh
    working_dir: /home/frappe
    environment:
      SHELL: /bin/bash
    volumes:
      - .:/workspace
    ports:
      - "8000:8000"
      - "9000:9000"

volumes:
  mariadb-d:

